@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --background-image: url('/resources/img/woo-chul-lee-11.jpg');
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1e293b;
    --foreground: #ededed;
     --background-image: url('/resources/img/woo-chul-lee-11.jpg');
  }
}


html, body {
  height: 100%; /* Ensure full height for html and body */
  margin: 0; /* Remove default margins */
}

body {
  color: var(--foreground);
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  transition: background 0.5s ease, color 0.5s ease;
}
